* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 375px) {
  body {
    width: 375px;
    height: 6715px;
  }

  .bars,
  .nav-bar {
    display: flex;
    justify-content: space-between;
    color: #28352f;
  }

  .bars {
    padding: 20px;
  }

  .nav-bar {
    padding: 0 34px 0 24px;
  }

  .nav-bar h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  .headline-container {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 726px;
    left: 0;
    text-align: center;
    align-items: center;
  }

  .headline-intro {
    background-image: url(./images/mobile-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 375px;
    height: 648px;
  }

  .header-content .intro {
    font-family: 'Inter', sans-serif;
    width: 327px;
    height: 192px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    padding: 24px;
    margin: 42px;
  }

  .header-content .hello-span {
    color: green;
  }

  .header-content .bio {
    font-family: 'Inter', sans-serif;
    width: 327px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    padding: 24px 0;
    margin: 32px;
  }

  .social-media-icon {
    width: 170.17px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .social-media-icon img {
    padding: 5px;
    font-size: 70px;
  }

  .recent-work {
    width: 327px;
    height: 97px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    color: #172b4d;
    margin: 0 auto;
  }

  .indicator {
    margin: 20px auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
